<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Reseptiarkisto</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Tervetuloa reseptikirjastoon!</h1>

        <h3>Valmiit reseptit </h3>   
        <ul>
            <li th:each="resepti: ${reseptit}">

                <form th:action="@{~/resepti/{id}(id=${resepti.id})}" method="post">
                    <a th:href="@{~/reseptit/{id}(id=${resepti.id})}">
                        <span th:text="${resepti.nimi}">resepti</span>
                    </a>
                    &emsp;
                    <input type="submit" value="Poista"/>
                </form>
            </li>
        </ul>
        <br/>
        <a href="/reseptit">Lis&auml;&auml; uusi resepti</a><br/>
        <a href="/ainesosat">Tarkistele ja lis&auml;&auml; ainesosia</a>


    </body>
</html>